<div class="page-container" (mouseenter)="mouseEnterHandler()" (mouseleave)="mouseLeaveHandler()" (click)="clickHandler()">
  <video #player [height]="300" [autoplay]="autoplay" [loop]="loop">
    <source *ngIf="fileUrl"  [src]="fileUrl | safe">
  </video>
  <app-video-controls class="video-controls" *ngIf="htmlVideoElement" [player]="htmlVideoElement"
                      (showFullscreen)="showHideFullScreenHandler($event)"
                      [inFullScreenMode]="false"
                      [style.display]="showVideoControls ? '' : 'none'">
  </app-video-controls>
</div>

<div class="full-screen-container" *ngIf="fullScreenVisible">
  <div class="full-screen-video-container">
    <video #fullScreenPlayer [loop]="loop">
      <source *ngIf="fileUrl" [src]="fileUrl | safe">
    </video>
    <app-video-controls #fullScreenControl class="full-screen-video-controls"
                        [player]="htmlFullScreenVideoElement"
                        [inFullScreenMode]="true"
                        (showFullscreen)="showHideFullScreenHandler($event)">
    </app-video-controls>
  </div>
</div>

